[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rq = "*"
redis = "*"
structlog = "*"
colorama = "*"
pafy = "*"
pytube = {git = "https://github.com/keunhong/pytube.git",ref = "master"}

[requires]
python_version = "3.7"
